@import "primeicons/primeicons.css";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin:0;
  padding:0;

  box-sizing: 'border-box';
  
  font-family: 'Roboto','sans-serif';
}

body {
  -webkit-font-smoothing: antialised;

  background-color: #ccc !important;

}

/******************************************* loading **************************************/
.preloader-backdrop {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2004;
  background-color: #fff;
}

.preloader-backdrop .page-preloader {
  position: fixed;
  top: 40%;
  left: 50%;
  padding: 10px 45px 10px 10px;
  margin-left: -60px;
  z-index: 2005;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  background-color: #fff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5) !important;
  -webkit-transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1004;
  pointer-events: none;
}

@-webkit-keyframes loader-rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader-rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.clock-loader {
  position: absolute;
  top: 50%;
  right: 50%;
  z-index: 2500;
  margin-top: -10px;
  margin-left: -10px;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: calc(var(--clock-radius) * 0.25);
    width: var(--clock-thickness);
    background: var(--clock-color);
    border-radius: 10px;
    transform-origin: center calc(100% - calc(var(--clock-thickness) / 2));
    animation: spin infinite linear;
  }

  &::before {
    height: var(--clock-minute-length);
    animation-duration: 2s;
  }

  &::after {
    top: calc(var(--clock-radius) * 0.25 + var(--clock-hour-length));
    height: var(--clock-hour-length);
    animation-duration: 15s;
  }
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

/******************************************* loading **************************************/